<StackLayout>
    <Label class="h4" [text]="'ENG_DIST: '+data.ENG_DIST"></Label>
    <Label class="h4" [text]="'ENG_CHANG: '+data.ENG_CHANG"></Label>
    <Label class="h4" [text]="'CHANGWAT: '+data.CHANGWAT"></Label>
    <Label class="h4" [text]="'VEH1_T: '+data.VEH1_T"></Label>
    <Label class="h4" [text]="'VEH2_T: '+data.VEH2_T"></Label>
    <Label class="h4" [text]="'VEH3_T: '+data.VEH3_T"></Label>
    <Label class="h4" [text]="'VEH4_T: '+data.VEH4_T"></Label>
    <Label class="h4" [text]="'VEH_Total: '+ sum"></Label>
</StackLayout>